body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.dimSumFrontImage {
    width: 100vw;   
    height: 70vh;  
    object-fit: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}


.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar a {
    color: rgb(139, 188, 34);
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.navbar a:hover {
    background-color: #555;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* 50% opaque black background */
    /* background-color: rgba(255, 255, 255, 0); /* Fully transparent white background */
    width: 100%;
    position: fixed; /* Optional: keeps the navbar at the top as you scroll */
    top: 0;
    z-index: 999; /* Ensures the navbar is above other content */
    padding: 10px 0; /* Add some padding for better look */
    /* Add a fallback color for very old browsers */
    background-color: rgb(0, 0, 0); 
}

/* Basic styling for the content behind the navbar to see the transparency effect */
.content {
    height: 200vh; /* Make the page long enough to scroll */
    background: url('your-background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}